@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}

#content {
    max-width: 960px;
    margin: 0 auto;
  }

nav a {
    text-align: center;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
}
#logo_link {
    padding-top: 5px;
}
body {
    background-color: #f3f397;
}
header {
    background-color: #E3E36A;
}
nav a:hover {
    background-color: #bebe39;
}
.book, .join {
    background-color: #881600;
    text-decoration: none;
    padding: 15px 30px;
}
.book:hover, .join:hover {
    background-color: #4E0110;
}
#background {
    background-color: #bd371c;
}
.msg {
    background-color: #881600;
}
footer {
    background-color: #881600;
}
nav a {
    background-color: #bebe39;
    color: white;
    padding: 35px;
}
nav a:hover {
    background-color: #881600;
}
.home-title {
    background-color: #881600;
    color: white;
    font-family: "Ubuntu";
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    background-color: #881600;
    color: white;
}
.book, .join {
    background-color: #bd371c;
    color: white;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}
.book:hover, .join:hover {
    background-color: red;
    color: white;
}
.msg {
    line-height:1.5em;
    padding: 35px;
}
.msg h2 {
    background-color: #881600;
    color: white;
}
.msg p {
    background-color: #881600;
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #881600;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    background-color: #881600;
    color: white;
    text-decoration: none;
}
footer a:hover {
    background-color: #bd371c;
    color: white;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
footer p {
    font-size: 1.2em;
}
footer .social img {
    padding-top: 15px;
}
footer p a:hover {
    text-decoration: underline;
}